<div *ngIf="isLoggedIn; else loginSection">
  <ng-container *ngIf="posts.length > 0; else noPosts">
    <div class="card-container">
      <mat-card class="card" *ngFor="let post of posts">
        <mat-card-header>
          <img src="../assets/images/Logo Power BI.svg" class="card-image icon" alt="icon">
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>
            Fecha de publicación: {{ post.date_create | date }}
          </mat-card-subtitle>
        </mat-card-header>
      
        <mat-divider></mat-divider>
      
        <mat-card-content class="card-content">
          <div [class.expanded-description]="post.showFullDescription">
            <p *ngIf="!post.showFullDescription">{{ truncateDescription(post.description) }}</p>
            <p *ngIf="post.showFullDescription">{{ post.description }}</p>
            <p *ngIf="!post.showFullDescription && post.description.length > 100" class="read-more">
              <a href="#" (click)="toggleDescription(post); $event.preventDefault();">
                Ver más
              </a>
            </p>
            <p *ngIf="post.showFullDescription" class="read-more">
              <a href="#" (click)="toggleDescription(post); $event.preventDefault();">
                Ver menos
              </a>
            </p>
          </div>
        </mat-card-content>
      
        <mat-divider></mat-divider>
      
        <mat-card-actions class="actions">
          <button (click)="openPowerBIReport(post.id)" mat-button color="primary">Abrir</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noPosts>
    <div class="no-posts-message-container">
      <div #animationContainer id="animationContainer"></div>
      <div class="no-posts-message">
        No hay publicaciones disponibles.
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loginSection>
  <h1>Inicia sesión para acceder al Dashboard</h1>
  <!-- Agrega aquí tu formulario de inicio de sesión -->
</ng-template>
