<mat-card class="card-container">
    <mat-card-title class="card-title">Crear nuevo reporte</mat-card-title>

    <mat-card-content>
        <form [formGroup]="form">
            <div class="form-row">
                <mat-form-field class="lab-field" floatLabel="always">
                    <mat-label>Laboratorio</mat-label>
                    <mat-select formControlName="lab">
                        <mat-option *ngFor="let option of labOptions" [value]="option.value">
                          <span class="option-container">
                            <img class="option-image" [src]="option.url" alt="Imagen">
                            <span class="option-text">{{ option.viewValue | uppercase }}</span>
                          </span>
                        </mat-option>
                      </mat-select>
                      
                      
                </mat-form-field>
                <mat-form-field class="title-field" floatLabel="always">
                    <input matInput placeholder="Título" formControlName="title">
                </mat-form-field>
            </div>
            <mat-form-field class="description-field" floatLabel="always">
                <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            </mat-form-field>
            <div class="form-row">
                <mat-form-field class="report-field" floatLabel="always">
                    <input matInput placeholder="ID del reporte" formControlName="reportID">
                </mat-form-field>
                <div style="width: 7px"></div> <!-- Espacio entre los campos -->
                <mat-form-field class="report-field" floatLabel="always">
                    <input matInput placeholder="ID del grupo del reporte" formControlName="reportURL">
                </mat-form-field>
                <div style="width: 7px"></div> <!-- Espacio entre los campos -->
                <mat-form-field class="report-field" floatLabel="always" style="visibility: hidden;">
                    <input matInput placeholder="Token del reporte" value="vacio" formControlName="reportToken">
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <div class="divider"></div> <!-- Divider -->
    <mat-card-actions>
        <div class="button-row">
            <!--<button mat-raised-button color="warn">Cancelar</button>-->
            <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!form.valid">Guardar</button>
        </div>
    </mat-card-actions>

</mat-card>