.card-container {
    margin: 20px;
  }
  
  .card-title {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .lab-field {
    width: 45%;
  }
  
  .title-field {
    width: 45%;
  }
  
  .description-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .report-field {
    width: 100%;
  }
  
  .button-row {
    display: grid;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    margin: 10px auto;
  }
  
  .option-container {
    display: flex;
    align-items: center;
  }
  
  .option-image {
    width: 24px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 24px;
    border-radius: 50%;
    margin-right: 8px; /* Ajusta el margen derecho según tus necesidades */
  }
  
  .option-text {
    font-weight: bold; /* Ajusta el estilo del texto según tus necesidades */
  }
  

  .close-button {
    position: absolute;
    top: 20px;
    left: 92%;
    bottom: unset;
    z-index: 1000;
    background-color: transparent;
    color: #000;
  }
  
  .close-button:hover {
    background-color: transparent;
    color: #ff0000;
  }
  