/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
}
