<!-- view-post.component.html -->
<div class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por laboratorio o fecha</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (keyup)="filterPosts()">
  </mat-form-field>

  <mat-paginator [length]="filteredPosts.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
    (page)="changePage($event)"></mat-paginator>
</div>


<div class="post-list">
  <div class="post-item" *ngFor="let post of paginatedPosts">
    <div class="post-header">
      <img class="post-image" [src]="post.image_url" alt="Post Image">
      <div class="post-details">
        <h3>{{ post.description | uppercase }}</h3>
        <div class="post-title">{{ post.title }}</div>
        <div class="post-title">{{ post.texto }}</div>
      </div>
      <div class="post-badge">
        <mat-badge [color]="post.estatus === 1 ? 'secondary' : 'warn'" [badgeContent]="post.estatus === 1 ? '' : ' '"
          overlap="rectangle">
          <mat-icon>{{ post.estatus === 1 ? 'publicado' : 'delete' }}</mat-icon>
        </mat-badge>
        <div class="post-date">{{ post.date_create | date }}</div>

      </div>
    </div>

    <div class="post-actions">
      <button (click)="editarPost(post.id)" class="edit-button">
        <span class="material-icons">edit</span>
      
      </button>
      <button (click)="openPowerBIReport(post.id)" class="view-button">
        <span class="material-icons">visibility</span>
      
      </button>
      <button *ngIf="post.estatus === 1" (click)="eliminarPost(post.id)" class="delete-button">
        <span class="material-icons">delete_forever</span>
      </button>
      
      <button *ngIf="post.estatus !== 1" (click)="publicarPost(post.id)" class="public-button">
        <span class="material-icons">public</span>
      </button>
      
    </div>
  </div>
 
  <a class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </a>

  <div class="no-posts-message-container" *ngIf="filteredPosts.length === 0">
    <div #animationContainer id="animationContainer"></div>
    <div class="no-posts-message">No hay publicaciones disponibles.</div>
  </div>
</div>
 

 
