.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.post-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.post-details {
  flex-grow: 1;
}

.post-details h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-date {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  grid-column: -1; /* Mueve el elemento al lado opuesto (última columna) */
}

.post-actions:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.post-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end; /* Alineación a la derecha */
  margin-top: 10px;
}

.edit-button,
.view-button,
.delete-button,
.public-button {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 12px;
}

.edit-button:hover,
.view-button:hover {
  background-color: #1976d2;
}

.delete-button:hover {
  background-color: #e26930;
}
.public-button:hover {
  background-color: #62b432;
}

.material-icons {
  margin-right: 5px;
}

.close-button {
  position: fixed;
  top: 20px; /* Cambiado de "bottom" a "top" */
  right: 20px;
  background-color: #f34121;
  color: white;
  
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.close-button:hover {
  background-color: #cc361c;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px; /* Añadir esta línea para separar del borde superior */
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 50%;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #1976d2;
}

.no-posts-message {
  color: #999; /* Color gris */
  font-family: Arial, sans-serif; /* Estilo de fuente */
  font-size: 24px; /* Tamaño de fuente */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-align: center; /* Alineación centrada */
  margin-top: 5px; /* Espacio entre el mensaje y el contenedor de animación */ /* Estilos para el mensaje de "No hay publicaciones disponibles" */
}

#animationContainer {
  width: 400px;
  height: 400px;
}

.no-posts-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.no-posts-message {
  color: #999;
  font-family: Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5px;
}
